.homepage h1 {
  margin-bottom: 0;
}

.homepage p {
  margin-bottom: 0;
}

.main-display {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.info-panel {
  width: 10%;
}

.map {
  height: calc(100vh - 128px);
  width: 100%;

  @media (min-height: 928px) {
    height: 800px;
  }
}

.side-panel {
  position: fixed;
  top: 0;
  left: -300px; /* Position off-screen by default */
  width: 300px;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease-in-out; /* Add a transition effect for sliding into view */

  /* Slide into view when isSidePanelOpen is true */
}

.side-panel-open {
  left: 0;
}
