.homepage h1 {
  margin-bottom: 0;
}

.homepage p {
  margin-bottom: 0;
}

.main-display {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.map {
  height: calc(100vh - 128px);
  width: 100%;

  @media (min-height: 928px) {
    height: 800px;
  }
}

.side-panel {
  position: absolute;
  top: 0;
  right: -300px; /* Position off-screen by default */
  width: 300px;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease-in-out; /* Add a transition effect for sliding into view */
}

.side-panel.open {
  right: 0;
}

.side-panel-header {
  display: flex;
  flex-direction: row;
}

.info-panel {
  display: flex;
  flex-direction: column;
}

.info-panel-header {
  flex-direction: column;
}
